$primary-color: #007BFF;
$secondary-color: #2b2b2e;
$background-color: #ffffff;
$text-color: #343A40;
$link-color: #0056b3;
$sidebar-bg: #202022;
$sidebar-color: #fff;
$font-family: 'open-sans', sans-serif;
