@import "../variables";

#categories-content-header {
  justify-content: space-between;

  button {
    height: 40px;
    width: 100px;
  }
}

#categories-content {
  .filter {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;

    input {
      width: 30%;
    }

    select {
      width: 30%;
    }
  }

  table {
    tr {
      th:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2) {
        width: 85%;
      }
      th:nth-child(3) {
        width: 5%;
      }
    }
  }

  .dropdown {
    width: 100px;
  }
}
