@import "../variables";

#designer-questions-content-header {
  justify-content: space-between;

  button {
    height: 40px;
    width: 100px;
  }
}

#designer-questions-content {
  .filter {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    width: 100%;

    div {
      display: flex;
      justify-content: space-between;
      width: 50%;
      padding: 5px;
    }

    >label {
      display: inline-block;
      width: 45%;
    }

    >input {
      display: inline-block;
      width: 45%;
    }

    >select {
      display: inline-block;
      width: 45%;
    }
  }

  table {
    tr {
      th:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2) {
        width: 45%;
      }
      th:nth-child(3) {
        width: 40%;
      }
      th:nth-child(4) {
        width: 5%;
      }
    }
  }

  tbody {
    tr {
      td:nth-child(1) {
        cursor: pointer;
      }
      td:nth-child(2) {
        cursor: pointer;
      }
      td:nth-child(3) {
        cursor: pointer;
      }
    }
  }

  .dropdown {
    width: 100px;
  }
}
