@import "../../variables";

#designer-view-question-content-header {
  a {
    text-decoration: none;
    color: $link-color;
  }
}

#designer-view-question-content {
  width: 80%;
  align-items: start;
}

.correct-answer::after {
  content: " \02714";
}
