#player-questions-content-header {
  justify-content: space-between;
}

#player-questions-content {
  #options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;

    #filters-wrapper {
      width: 60%;

      input {
        width: 50%;
        margin-right: 20px;
      }

      select {
        width: 50%;
      }
    }

    #buttons-wrapper {
      width: 40%;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }

  table {
    tr {
      th:nth-child(1) {
        width: 10%;
      }

      th:nth-child(2) {
        width: 45%;
      }

      th:nth-child(3) {
        width: 45%;
      }
    }

    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}

#category-modal-body {
  max-height: 400px;
  overflow-y: auto;
}

#category-modal-dialog {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.scrollable-list {
  max-height: 300px;
  overflow-y: auto;
}
