@use "../variables";

#player-answer-question-content-header {
  a {
    text-decoration: none;
    color: variables.$link-color;
  }
}

#player-answer-question-content {
  width: 80%;
  align-items: start;
}
