@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'variables';
@import "components/sidebar";
@import "components/dashboard";
@import "components/design-questions";
@import "components/manage-categories";
@import "components/content";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
  font-family: $font-family;
}

a {
  color: $link-color;
}

.wrapper {
  display: flex;
  height: 100vh;
}
