@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'variables';
@import "components/sidebar";
@import "components/dashboard";
@import "components/content";
@import "components/designer/design_questions";
@import "components/designer/create_question";
@import "components/designer/edit_question";
@import "components/designer/manage_categories";
@import "components/designer/create_category";
@import "components/designer/edit_category";
@import "components/player/questions";
@import "components/player/scoreboard";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
  font-family: $font-family;
}

a {
  color: $link-color;
}

.wrapper {
  display: flex;
  height: 100vh;
}
