@use "variables";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: variables.$background-color;
  font-family: variables.$font-family;
}

a {
  color: variables.$link-color;
}

.wrapper {
  display: flex;
  height: 100vh;
}
